<!DOCTYPE html>

<html>

  <head>

    <title>Reddit-timer</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Montserrat&display=swap" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="/css/white.svg">

    <link rel="stylesheet" href="/css/timer.css">

  </head>

  <body>
    
      <img id="logo" src="/css/logo.svg">

      <a id="search" href="/">Search</a>

      <div id="preload" class="lds-ring"><div></div><div></div><div></div><div></div></div>

      <div id="parent">
        <div id="container"></div>
      </div>

      <div id="content">
    
        <p>The best time to post is:</p>
        <div id="time"></div>
        <div id="tables"></div>
        <img id="sign" src="/css/sign.svg">

      </div>


    
      <p id="yy" style="display:none"><%= topic %></p>
      
      <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
      <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>

      <script type="module" src="/css/timer.js"></script>
      <script type="module" src="/css/renderHeatmap.js"></script>
      <script type="module" src="/css/popularPosts.js"></script>
  </body>
</html>