<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/topic.css">
        <link rel="icon" type="image/svg+xml" href="/css/white.svg">
    </head>
    <body>
        
        <img id="logo" src="/css/logo.svg">
        <div id="content">
        <form action="/" method="POST">
            <h1>Find the best time for a subreddit</h1>
            <label for="">r / </label>
            <input type="text" name="topic">
            <button type="submit">SEARCH</button>
        </form>
        <h1>How it works</h1>
        <ul>
            <li>
                We find the 500 top posts from the past year for a subreddit.
            </li>
            <li>
                The data is visualized in a heatmap grouped by weekday and hour of the day.
            </li>
            <li>
                See immediately when to submit your reddit post.
            </li>
        </ul>
    </div>
        <img id="sign" src="/css/sign.svg">
        
        <script src="" async defer></script>
    </body>
</html>