    #parent{
    height:50vh;
    }

    #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    table{
      box-sizing: border-box;
      border: 1px solid rgb(221, 221, 221);
      font-size: 14px;
      color: rgb(0, 0, 0);
      width: 786px;
      margin: 12px auto 0px;
      border-collapse: collapse;
      border-spacing: 0;
      margin-top: 3%;
    }

    td,th{
      border: 1px solid rgb(221, 221, 221);
      text-align: center;
      padding: 5px;
    }

    a{
      color: rgb(0, 135, 255);
      text-decoration: none;
    }

    .lds-ring {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      transform: translateX(50%) translateY(50%);
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: black transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    #time p{
      display: inline;
      color: black;
      font-weight: 600;
      padding: 5px 10px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 10px;
      margin-right: 5px;
    }

    #sign{
      margin-top: 3%;
      margin-left: 50%;
    }

    body{
      padding: 3%;
      font-family: 'Montserrat', sans-serif;
      color: #93918f;
      overflow: scroll;
    }

    #time{
      text-align: center;
    }
    #content p{
      text-align: center;
    }

    h1{
      font-family: 'Bitter', serif;
    }

    #search{
      float: right;
      color: #93918f;
    }
    